
  .show {
    opacity: 1 ;
    pointer-events: auto ;
    transform: scale(1.5) ;
  }
  .show-overlay {
    opacity: 0.6 ;
    pointer-events: auto ;
  }
.completed-task {
    text-decoration: line-through;
    opacity: 0.8;
    color: #9ca3af; 
}
